* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  background: #f5f5f5;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  user-select: none;
}

.game-container {
  background-image: url("image/bg.png");
  background-size: cover;
  background-position: center;
  border: 2px solid #f00a0a;
  width: 800px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 4px;
  background:#c47a3a;
}

.dino {
  position: absolute;
  left: 50px;
  bottom: 20px;
  width: 48px;
  height: 48px;
  background-image: url("image/dino.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.1s;
}

.dino.crouch {
  transform: rotate(90deg) scale(0.8);
}

.obstacle {
  position: absolute;
  width: 36px;   /* ← 48px × 0.75 */
  height: 48px;
  background-image: url("image/obstacle.png");
  background-size: cover;
}

.ui {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #f50b0b;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid #aaa;
  white-space: pre-line;
}

.jump-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  opacity: 0.8;
}

.ranking {
  margin-top: 80px;
  width: 800px;
  background: rgba(255,255,255,0.95);
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px solid #aaa;
  text-align: center;
  display: none;
}

.name-input {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255,255,255,0.95);
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #aaa;
  text-align: center;
  display: none;
}

.volume-box {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}